# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# UtahMosphere specific (if run locally)
*.json
!docker-compose.yaml
!package.json
